.title {
  text-align: center;
}
#table {
  margin: auto;
  border: 3px solid green;
  border-collapse: collapse;
  width: 35em;
}

th,
td {
  width: auto;
  border: 1px solid green;
  text-align: center;
}

/* postbar */
.postbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  border: gainsboro solid;
  padding: 2px 10px 2px 10px;
  border-radius: 24px;
  height: 30px;
}

.postbar-container:hover {
  cursor: text;
}
.postbar {
  flex: 1;
  height: 100%;
  outline: transparent;
  border: transparent;
}
